<div style="display: flex; justify-content: space-between; margin: 1rem; flex-wrap: wrap;">
  <mat-card style="flex-grow: 3;">
    <mat-card-title>Why Choose Us?</mat-card-title>
    <mat-card-content>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum aliquet neque ut rutrum. Donec
        volutpat orci et sapien ultricies suscipit. Etiam luctus egestas ante sit amet volutpat. In lobortis nibh id
        diam dictum gravida. Maecenas maximus, leo commodo auctor consequat, odio arcu iaculis dui, eu gravida magna
        lorem finibus tellus. Curabitur faucibus purus est, vel pretium quam posuere ac. Aenean vulputate metus eget
        semper auctor. Ut quis ipsum orci. Nam sit amet elementum ante, nec sodales ante. Nulla et elit ante. Ut eget
        consequat dolor. Donec massa arcu, venenatis nec ipsum non, facilisis placerat urna.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vestibulum aliquet neque ut rutrum. Donec
        volutpat orci et sapien ultricies suscipit. Etiam luctus egestas ante sit amet volutpat. In lobortis nibh id
        diam dictum gravida. Maecenas maximus, leo commodo auctor consequat, odio arcu iaculis dui, eu gravida magna
        lorem finibus tellus. Curabitur faucibus purus est, vel pretium quam posuere ac. Aenean vulputate metus eget
        semper auctor. Ut quis ipsum orci. Nam sit amet elementum ante, nec sodales ante. Nulla et elit ante. Ut eget
        consequat dolor. Donec massa arcu, venenatis nec ipsum non, facilisis placerat urna.</p>
    </mat-card-content>
  </mat-card>
  <mat-card style="flex-grow: 1;">
    <mat-card-title>Contact Us</mat-card-title>
  </mat-card>
</div>
